html body {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    background-color: beige;
    width: 100%;
}

.info_container{
    display: flex;
    flex-direction: column;
    width: 75%;
    padding-top: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
.container{
    border: 1px solid;
    margin-bottom: 2.5%;
}

.event_container{
    display: flex;
    border: 1px solid;
    flex-direction: column;
    width: 15%;
    padding-top: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.event_info{
    border: 1px solid;
    margin-bottom: 2.5%;
    
}

.link_eventos{
    display: flex;
    justify-content: flex-end;
}