.modal1{
    width: 50%;
    border-radius: 8px;
}

.modal1[open] {
    animation: fadeIn 0.25s forwards;
  }
  

.modal1::backdrop{
    background-color: rgb(0,0,0,0.5);
}

.btn_close{
    background-color: black;
    color: white;
    border-radius: 8px;
    height: 30px;
    width: fit-content;
}
.btn_delete{
    background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    border-radius: 8px;
    height: 30px;
    width: fit-content;
}
.btn_confirm{
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
    height: 30px;
    width: fit-content;
}
.btn_modify{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 8px;
    height: 30px;
    width: fit-content;
}