
.navbar{
   width: 100%;
   display: flex;
   justify-content:space-between;
   align-items: center;
   flex-direction: row;
   background-color: aqua;
   height: 4rem;
}
.logo{
   margin-left: 50%;
   position: absolute;
}
.seleccionables{
   display: flex;
   align-items: center;
}

.desplegable{

   background-color: antiquewhite;
   padding-left: 5px;
   padding-right: 5px;
   justify-content: left;
   height: 4rem;
   
}

.oculto{
   display: none;
   position: absolute;
   justify-content:space-around;
   min-width: 160px;
   color: black;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   background-color: aliceblue;
   width: 20%;
   padding-left: 0;
   font-size: 21px;
   margin: 0;
   list-style: none;
}

.desplegable:hover .oculto{
   display: block;
}

.oculto li{
   border-bottom: 1px solid;
}

.oculto li:hover{
   background-color: rgb(158, 132, 132);

}

.icon{
   width: 4rem;
}

.navbar-link{
   color: black;
   text-decoration: none;
}