.navbar{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 5px;
   height: 100px;
   background-color: rgb(72, 106, 49);
}

.parte_izq{
   padding-left: 2.5%;
}

.parte_izq span{
   font-size: 58px;
   height: 60px;
   font-weight: bold;
   font-family: "Italiana", sans-serif;
}

.parte_der{
   font-size: 20px;
   font-family: "Inter", sans-serif;
   margin-right: 48px;
}

.parte_der .enlace{
   text-decoration: none;
   padding: 15px;
   color:black;
   margin-right: 30px;
   border-radius: 10px;
}

.parte_der .enlace:hover{
   transition: 250ms;
   color:white;
   background-color: #6b6b6b;
}

.boton{
   padding: 15px;
   color: white;
   background-color: #4b3a2b;
   border-radius: 10px;
   text-decoration: none;
}

.boton:hover{
   transition: 250ms;
   background-color: #6b6b6b;
}

span a{
   color: black;
   text-decoration: none;
}

.send{
   margin-top: 2.5%;
   margin-right: 2.5%;
   margin-bottom: 2.5%;
   display: flex;
   justify-content: flex-end;
}
