.navbar{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 5px;
   height: 100px;
   background-color: rgb(72, 106, 49);
}

/* Aquí se impone la altura de la página cuando Swal está activo para evitar descuadres */
.swal2-shown{
   display: flex;
   flex-direction: column;
   max-height: 95%;
}

.admin_btn{
   position: fixed;
   bottom: 2.5%;
   right: 2.5%;
   padding: 15px;
   color: white;
   align-self: flex-end;
   background-color: black;
   border-radius: 10px;
   text-decoration: none;
   width: 10%;
   margin-right: 20px;
   margin-bottom: 20px;
}

.admin_btn2{
   position: fixed;
   bottom: 2.5%;
   right: 15%;
   padding: 15px;
   color: white;
   align-self: flex-end;
   background-color: black;
   border-radius: 10px;
   text-decoration: none;
   width: 10%;
   margin-right: 20px;
   margin-bottom: 20px;
}

.parte_izq{
   padding-left: 2.5%;
}

.parte_izq span{
   font-size: 58px;
   height: 60px;
   font-weight: bold;
   font-family: "Italiana", sans-serif;
}

.parte_der{
   font-size: 20px;
   font-family: "Inter", sans-serif;
   margin-right: 48px;
}

.parte_der .enlace{
   text-decoration: none;
   padding: 15px;
   color:black;
   margin-right: 30px;
   border-radius: 10px;
}

.parte_der .enlace:hover{
   transition: 250ms;
   color:white;
   background-color: #6b6b6b;
}

.boton{
   padding: 15px;
   color: white;
   background-color: #4b3a2b;
   border-radius: 10px;
   text-decoration: none;
}

.boton:hover{
   transition: 250ms;
   background-color: #6b6b6b;
}

span a{
   color: black;
   text-decoration: none;
}

.send{
   margin-top: 2.5%;
   margin-right: 2.5%;
   margin-bottom: 2.5%;
   display: flex;
   justify-content: flex-end;
}

#error, #error2{
   font-weight: 600;
   color: rgb(248, 0, 0);
   display: none;

}